# Write a function to calculate gini index for the given dataset

x: list of counts
<br>
if we have 30 elements from one class, 40 elements from the second and 50 elements from third then x == [30,40,50]

In [1]:

def gini(x):
    gini_list=[]
    list1=[(x[i],x[j]) for i in range(len(x)) for j in range(i+1, len(x))]
    for i in list1:
        s=0
        for j in i:
            s=s+(j/sum(i))**2
        gi=1-s
        gini_list.append(gi)
    return (min(gini_list))

In [2]:
gini([40,50,60])

0.48

# Write a function to calculate gini index for the given split

x: list of counts for the left dataset 
<br>
y: list of counts for the right dataset

In [3]:
def split_gini(x:list, y:list):
    total=gini(x)*(len(x)/len(x+y))+gini(y)*(len(y)/len(x+y))
    return total

In [4]:
split_gini([40,50,60],[40,50,60,70])

0.47017709563164106

# Appply Decision Tree Classifier on the 'classification.csv' dataset from the previous homework.

In [31]:
pip install graphviz

Requirement already satisfied: graphviz in c:\programdata\anaconda3\lib\site-packages (0.14.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install pydotplus

Requirement already satisfied: pydotplus in c:\programdata\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from pydotplus) (2.4.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [4]:
df=pd.read_csv('classification.csv')
df.head()

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default
0,41,college degree,17,12,176,9.3,11.359392,5.008608,1
1,27,no high school,10,6,31,17.3,1.362202,4.000798,0
2,40,no high school,15,14,55,5.5,0.856075,2.168925,0
3,41,no high school,15,14,120,2.9,2.658720,0.821280,0
4,24,high school,2,0,28,17.3,1.787436,3.056564,1

In [9]:
df.columns

Index(['age', 'ed', 'employ', 'address', 'income', 'debtinc', 'creddebt',
       'othdebt', 'default'],
      dtype='object')

In [5]:
target=df['default']
target.value_counts()

0    517
1    183
Name: default, dtype: int64

In [15]:
data=pd.get_dummies(df.drop('default',axis=1))
data

,age,employ,address,income,debtinc,creddebt,othdebt,ed_college degree,ed_high school,ed_no high school,ed_postgraduate,ed_undergraduate
0,41,17,12,176,9.3,11.359392,5.008608,1,0,0,0,0
1,27,10,6,31,17.3,1.362202,4.000798,0,0,1,0,0
2,40,15,14,55,5.5,0.856075,2.168925,0,0,1,0,0
3,41,15,14,120,2.9,2.658720,0.821280,0,0,1,0,0
4,24,2,0,28,17.3,1.787436,3.056564,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,36,6,15,27,4.6,0.262062,0.979938,0,1,0,0,0
696,29,6,4,21,11.5,0.369495,2.045505,0,1,0,0,0
697,33,15,3,32,7.6,0.491264,1.940736,0,0,1,0,0
698,45,19,22,77,8.4,2.302608,4.165392,0,0,1,0,0
699,37,12,14,44,14.7,2.994684,3.473316,0,0,1,0,0

In [16]:
df['ed'].value_counts()

no high school    372
high school       198
college degree     87
undergraduate      38
postgraduate        5
Name: ed, dtype: int64

In [17]:
clf=DecisionTreeClassifier()

In [18]:
xTrain,xTest,yTrain,yTest=train_test_split(data,target,test_size=0.2,random_state=1)

In [19]:
clf.fit(xTrain,yTrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [20]:
clf.score(xTrain,yTrain)

1.0

In [21]:
clf.score(xTest,yTest)

0.7071428571428572

## Using random forest

In [22]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
rf=RandomForestRegressor(n_estimators=20, random_state=0)

In [24]:
rf.fit(xTrain,yTrain)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=20,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [25]:
rf.score(xTrain,yTrain)

0.8752266560783535

In [34]:
clf.score(xTest,yTest)

0.7357142857142858

In [29]:
feature_cols = list(df.columns)
feature_colss=feature_cols+['a','b','c']
feature_colss

['age',
 'ed',
 'employ',
 'address',
 'income',
 'debtinc',
 'creddebt',
 'othdebt',
 'default',
 'a',
 'b',
 'c']

In [30]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = feature_colss,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('class.png')
Image(graph.create_png())

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

InvocationException: GraphViz's executables not found

In [26]:
target.shape[0]

700

# Implement Random Forest

In [29]:
class RandomForest:
    def __init__(self,x,y,num_trees,sample_size):
        self.x=x           ##data
        self.y=y           ##lebel
        self.num_trees=num_trees## number of trees
        self.sample_size=sample_size
        self.trees = [self.create_tree() for i in range(num_trees)]
    
    def create_tree(self):
        idxs = np.random.permutation(self.y.shape[0])[:self.sample_size]
        return DecisionTreeClassifier(self.x.iloc[idxs], self.y[idxs], idxs=np.array(range(self.sample_size))
        
        
    def fit(self,x,y):
        for tree in self.trees:
            xTrain,xTest,yTrain,yTest=train_test_split(self.x,self.y,test_size=0.2,random_state=1)
            DecisionTreeClassifier().fit(xTrain,yTrain)
        
    def predict(self,x):
        return np.mean([i.predict(x) for i in self.trees], axis=0)
    
    def score(...):
                            
        ...

SyntaxError: invalid syntax (<ipython-input-29-35e5c585d208>, line 14)